name: Release
on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  upload-assets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Upload binaries
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ls -al release_binaries
          gh release upload "$GITHUB_REF_NAME" release_binaries/* --clobber
