on:
  push:
    tags: ['*']
jobs:
  upload-assets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: gh release upload "$GITHUB_REF_NAME" "release_binaries/*"
        env:
          GH_TOKEN: ${{ github.token }}

