name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Clone Server 
      run: git clone https://github.com/GrossBetruger/uptime_server.git 
    - name: Spin Postgres DB
      run: cd uptime; sh uptime_server/docker/postgres/run_postgres.sh; cd ..
    - name: Run tests
      run: cargo test --verbose
